In [1]:
#importing dependancies
from splinter import Browser
from bs4 import BeautifulSoup
#from selenium.webdriver.common.keys import Keys
#from selenium import webdriver
#for twitter api
# Dependencies
import json
import tweepy
#pandas for table scraping
import pandas as pd

In [2]:
#setting driver up
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#url for mars news
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [4]:
#getting mars news title and paragraph
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#setting variables
news_title = soup.find('div', class_='content_title').text
news_P = soup.find('div', class_='article_teaser_body').text

In [5]:
#Printing text out
news_P

'One of the most intense Martian dust storms ever observed is being studied by a record number of NASA spacecraft.'

In [6]:
#Printing text out
news_title

'NASA Encounters the Perfect Storm for Science'

In [7]:
#url for mars image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [8]:
#Setting up beautiful soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

featured_image_url = soup.find_all('article', class_='carousel_item')
featured_image_url

[<article alt="Steep 'Knudsen Ridge' Along 'Marathon Valley' on Mars" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA20318-1920x1200.jpg');">
 <div class="default floating_text_area ms-layer">
 <h2 class="category_title">
 </h2>
 <h2 class="brand_title">
 				  FEATURED IMAGE
 				</h2>
 <h1 class="media_feature_title">
 				  Steep 'Knudsen Ridge' Along 'Marathon Valley' on Mars				</h1>
 <div class="description">
 </div>
 <footer>
 <a class="button fancybox" data-description="This scene from NASA's Mars Exploration Rover Opportunity looks upward at 'Knudsen Ridge' on the southern edge of 'Marathon Valley' from inside the valley." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA20318_ip.jpg" data-link="/spaceimages/details.php?id=PIA20318" data-title="Steep 'Knudsen Ridge' Along 'Marathon Valley' on Mars" id="full_image">
 					FULL IMAGE
 				  </a>
 </footer>
 </div>
 <div class="gradient_container_top"></div>
 <div class="gradient_container_bottom"></div>
 </article>]

In [9]:
#searching for href
for img in featured_image_url:
    link = img.a['data-fancybox-href']
link

'/spaceimages/images/mediumsize/PIA20318_ip.jpg'

In [10]:
#setting full path of image
url_string = 'https://www.jpl.nasa.gov'
image_path = url_string + link
image_path

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA20318_ip.jpg'

In [11]:
#Mars weather twitter account https://twitter.com/marswxreport?lang=en

In [12]:
#ending up using twitter api to make pull
#url for mars image
#url = 'https://twitter.com/marswxreport?lang=en'
#browser.visit(url)

#getting mars tweet
#html = browser.html
#soup = BeautifulSoup(html, 'html.parser')

#mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
#mars_weather

In [13]:
# Import Twitter API Keys
from config import consumer_key, consumer_secret, access_token, access_token_secret

In [14]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [15]:
# Target User
target_user = "MarsWxReport"

In [16]:
# Get all tweets from home feed
public_tweets = api.user_timeline(target_user)

In [17]:
public_tweets
for tweet in public_tweets:
    m_weather = f'{tweet["text"]}'

In [18]:
#printing weather
m_weather

'Sol 2074 (2018-06-07), Sunny, high 6C/42F, low -70C/-93F, pressure at 7.58 hPa, daylight 05:18-17:21'

In [19]:
#url for mars table
url = 'https://space-facts.com/mars/'

In [20]:
#pulling all tables from url
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
#putting first table into a dataframe
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [22]:
#adding column headers
df.columns = ['Attributes','Value']

In [23]:
#setting index
df.set_index('Attributes')

                                              Value
Attributes
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [24]:
#generate html from dataframe
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Attributes</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 Â°C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [25]:
#remove unwanted new lines
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Attributes</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 Â°C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [26]:
#finding mars images of hemispheres

In [27]:
#high res image of cerberus hem
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
browser.click_link_by_partial_text('Cerberus Hemisphere Enhanced')
browser.click_link_by_text('Sample')
img1 = browser.windows.current = browser.windows[1]
img1

In [28]:
#high res image of Schiaparelli hem
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
browser.click_link_by_partial_text('Schiaparelli Hemisphere Enhanced')
browser.click_link_by_text('Sample')
img2 = browser.windows.current = browser.windows[1]
img2

In [29]:
#high res image of Syrtis Major hem
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
browser.click_link_by_partial_text('Syrtis Major Hemisphere Enhanced')
browser.click_link_by_text('Sample')
img3 = browser.windows.current = browser.windows[1]
img3

In [30]:
#high res image of cerberus Valles Marineris
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
browser.click_link_by_partial_text('Valles Marineris Hemisphere Enhanced')
browser.click_link_by_text('Sample')
img4 = browser.windows.current = browser.windows[1]
img4

In [ ]:
#close out browser
browser.driver.close()